<h1>Editing Set List</h1>

<hr>

<%= render 'form', set_list: @set_list %>

<div class="set_list_links text-center">
  <%= link_to t(:show), user_set_list_path(@user, @set_list), class: 'btn btn-secondary' %>
</div>
