<div class="new_set_list_button_div text-center">
  <% if current_user == @user %>
    <%= link_to "New Set List", new_user_set_list_path(@user), class: 'btn btn-primary', id: 'new_set_list_button' %>
  <% end %>
</div>

<div class="set_lists_header text-center">
  <p><%= @user.username + " Set Lists" %></p>
</div>

<div class="set_lists">
  <% if !@user.set_lists.empty? %>
    <ul class="list-group">
      <% @user.set_lists.each do |sl| %>
        <%= link_to sl.title, user_set_list_path(@user, sl), class: 'list-group-item text-center' %><br/>
      <% end %>
    </ul>
  <% else %>
    <h4 class="text-center">No Set Lists</h4>
  <% end %>
</div>
