<% if @users != nil %>
  <div id="users_index" class="container-fluid bg-3 text-center">
    <div class="row">
      <% @users.each do |user| %>
        <%# unless !user.confirmed_at %>
          <div class="col-sm-4 space">
            <%= link_to(user.name, user_path(user), class: 'btn btn-primary btn-lg outline') %>
          </div>
        <%# end %>
      <% end %>
    </div>
  </div>
<% end %>