<% if @users != nil %>
  <div id="users_index" class="panel panel-default">
    <div class="panel panel-heading">
      <h1>ユーザの一覧</h1>
    </div>
    <ul class="list-group">
      <% @users.each do |user| %>
        <li class="list-group-item"><%# if user.confirmed? の人だけにするかな %>
          <%= link_to(user.name, user_path(user)) %>
          <% if current_user && current_user.admin %>
            <%= link_to '削除', user_path(user), method: :delete, data: { confirm: "本当に削除しますか？" } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="pagination">
  <%= paginate @users %>
</div>
