<div id="user_container" class="container">
  <div id="user_row" class="row">

    <div id="user_info" class="col-xs-12 col-md-4">
      <%= render 'profile' %>
    </div>

    <div id="user_data" class="col-xs-12 col-md-8">
      <%= render 'charts' %>

      <%= render 'favorites' %>

      <%= render 'set_lists' %>
    </div>
  </div>
</div>
