<div class="jumbotron">
  <h1>賛美歌へようこそ</h1>
  <p>賛美歌チャートのデータベースに貢献しませんか</p>
  <%= link_to '賛美歌チャートの一覧', home_songs_path, class: 'btn btn-primary'%>　｜　<%= link_to 'ユーザの一覧', users_path, class: 'btn btn-primary' %>
</div>
