<% if @songs != nil %>
  <div class="panel panel-default" id="songs_index">
    <div class="panel panel-heading">
      <h1>賛美歌の一覧</h1>
    </div>
    <ul class="list-group">
      <% @songs.each do |song| %>
        <% user = User.find(song[:user_id]) %>
        <li class="list-group-item"><%= link_to(song.title, user_song_path(user, song)) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- TODO: 全然動かない -->
<%# render partial: "kaminari/paginator" %>
<div class="pagination">
  <%= paginate @songs %>
</div>
