<div class="container-fluid">
  <% if @songs  %>
    <div class="panel panel-default" id="songs_index">
      <div class="panel panel-heading">
        <h1><%= t(:list_of_charts) %></h1>
      </div>
      <ul class="list-group">
        <% @songs.each do |song| %>
          <% user = User.find(song[:user_id]) %>
          <li class="list-group-item"><%= link_to(song.title, user_song_path(user, song)) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="pagination_container">
    <%= paginate @songs if @songs %>
  </div>
</div>
