<!-- エラーの部分はnew.html.erbの方とかぶっているのでpartialを書いた方がいいかもしれない -->
<% if @song.errors.any? %>
  <% @song.errors.full_messages.each do |message| %>
    <div class="alert alert-danger"><%= message %></div>
  <% end %>
<% end %>

<div class="panel panel-default">
  <div class="panel panel-heading">
    <h1>讃美歌チャートの編集</h1>
  </div>
  <%= render 'form', song: @song %>
</div>

<%= link_to '表示', user_song_path(@user, @song) %> |
<%= link_to '賛美歌の一覧', user_songs_path(@user, @songs) %>
