<!-- 変数名をmodel_instanceとして定義し、部分テンプレートで使う -->
<%= render partial: "shared/error_partial", locals: { model_instance: @song } %>


<h3 class="text-center"><%= t(:edit_chart) %></h3>
</div>
  <%= render 'form', song: @song %>
</div>

<div class="text-center">
	<%= link_to t(:show), user_song_path(@user, @song) %>
</div>
