<p id="notice"><%= notice %></p>

<h1>讃美歌チャート</h1>

<% if @user == current_user %>
  <div id="new_song">
    <%= link_to '新規作成', new_user_song_path([@user, @song]), class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>

<% artist_exists = false %> <!-- これをヘルパーメソッドにした方がいいかもしれない -->
<% @songs.each do |song| %>
  <% if song.artist == nil || song.artist == "" %>
    <% next %>
  <% else %>
    <% artist_exists = true %>
    <% break %>
  <% end %>
<% end %>

<% if !artist_exists %>
    <style>
      #song_index {
        width: 50%;
      }
    </style>
<% end %>

<% if !@songs.empty? %>

  <table id="song_index" >
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.song.title') %></th>
      </tr>
    </thead>

    <tbody>
        <% @songs.each do |song| %>
          <tr>
            <td class="song_title">
              <%= link_to song.title, user_song_path(@user, song), class: 'btn btn-primary btn-lg btn-block' %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>

<% else %>
  <h3 id="no_songs">讃美歌チャートはありません</h3>
<% end %>


