<h1><%= t(:list_of_charts) %></h1>

<br/>

<% if @user == current_user %>
  <div id="new_song">
    <%= link_to t(:new_chart), new_user_song_path(@user), class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>

<br/>

<% if !@songs.empty? %>
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h1><%= t(:list_of_charts) %></h1>
    </div>
    <ul class="list-group" id="song_list">
      <% @songs.each do |song| %>
        <li class="list-group-item"><%= link_to song.title, user_song_path(@user, song) %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <h3 id="no_songs">No charts</h3>
<% end %>
