<div class="row" style="margin-top: 80px;">

  <div class="col-md-4"></div>

  <div class="col-md-4">
    <%= render "devise/shared/links_short_version" %>
  </div>

  <div class="col-md-4"></div>

</div>
