/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require home
 *= require songs
 *= require users
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 @font-face{
  font-family:'Glyphicons Halflings';
  src: image-url("bootstrap/glyphicons-halflings-regular.eot");
  src: image-url("bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
       image-url("bootstrap/glyphicons-halflings-regular.woff") format("woff"),
       image-url("bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),
       image-url("bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}

/*------------------------------------------------------*/

body {
  background-color: white !important;
}

/* boostrapのnavbarは50pxだからmarginを入れる */
#buffer {
  margin-top: 50px;
}

.btn-primary:visited {
  color: #FFF;
}

#songs_index, #users_index {
  margin: 10px;
  .btn {
    margin: 10px 0px;
    width: 70%;
  }
}

/* Flash notice */
.alert {
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;

  margin-top: 25px;
}

.alert:hover {
  -webkit-filter: brightness(90%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/* 外してしまうと、エラーのform-controlのinputが短くなってしまう */
.field_with_errors {
  width: 100%;
}

/* 端末によって文字の大きさが変わる */
@media screen and (max-width: 500px) {
  .jumbotron {
    margin-top: 0px;
  }

  #song_title {
    font-size: 18px;
  }

  #song_body {
    padding: 0px 15px;
    font-size: 16px;
  }
}
