// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */
header.masthead {
  /*position: absolute;*/
  background-image: url('sanbika_front.jpg');
  width: 100%;
  height: 70%;
  /*background-position: center center;*/
  /*background-repeat: no-repeat;
  padding-top: 20%;
  padding-bottom: 20%;
  background-size: cover;
  background-size: contain;*/
}

#example_chart > .panel > .panel-body {
  text-align: left;
}

.chords {
  font-size: 20px;
}

.lyrics {
  font-size: 24px;
}

.chords, .lyrics {
  display: block;
}

/* songs */
#songs_index {
  text-align: left;
}

.pagination_container {
  text-align: center;
}
