// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$bootstrap-blue: #428bca;

/* index */
/* TODO: Add this with proper CSS */
/*
header.masthead {
  background-image: asset_url('sanbika_front.jpg');
  width: 100%;
  height: 70%;
}
*/

@media screen and (max-width: 500px) {
  #home_jumbotron {
      h1 {
          font-size: 27px;
      }

      p {
          font-size: 20px !important;
      }
  }

  .sns_login_button {
    margin: 10px 0px;
    font-size: 12px !important;
    width: 100%;
  }
}

@media (min-width: 768px) {
    .sns_login_button {
      margin: 10px 0px;
      font-size: 20px !important;
      width: 90%;
    }
}

.sns_login_button {
  margin: 10px 0px;
  width: 90%;
}

#home_jumbotron {
  text-align: center;
  color: black;
  background-color: rgba(220, 220, 220, 0.9) !important;
}

.jumbotron_inner {
  text-align: center;
  color: black;
  background-color: rgba(200, 200, 200, 0.9);
}

#homepage_login_links {
    margin: 30px 0px;
}

#features_header {
  width: 100%;
  background-color: $bootstrap-blue;
  text-align: center;

  .row {
    width: 100%;
    height: 100%;
  }

  .feature {
    margin: 80px 0px;
  }

  .feature_text_wrapper {
    padding: 20px;
  }

  .feature_text {
    font-size: 40px;
    color: white;
  }

  .feature_wrapper {
    background-color: white;
    display: inline-block;
    padding: 50px;
    border-radius: 50%;
  }

  .feature_wrapper i {
    font-size: 50px;
    color: $bootstrap-blue;
  }

}

#example_banner_text_wrapper {
  width: 100%;
}

#example_banner_text {
  display: inline-block;
  margin: 30px;
  background-color: #428bca;
  color: white;
  padding: 40px 30px;
}

.song_body, #print_song_body {
  white-space: pre-wrap;
  padding: 20px;
  text-align: left;
  border: 1px gray solid;

  font-size: 22px;

  .chord {
    line-height: 34px;
  }
}

#main_footer {
  padding: 20px;
  background-color: #222;
}

#main_footer a {
  padding: 20px;

  text-decoration: none;
  color: white;
  font-size: 50px;
}

#main_footer a:hover {
  text-decoration: none;
  color: gray;
  font-size: 50px;
}

/* Song Example */
#songs_index {
  text-align: left;
}
