// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign_up_page {
    border: 1px solid black;
    border-radius: 1%;
}

.input_fields {
  width: 85%;
  margin: 0px auto;
  text-align: center;
}

.field {
  margin: 10px 0px;
}

/* Overriding the style above for bootstrap style */
#registration_text_holder {
  border-radius: 2%;
}

.registration_fields {
   margin: 0px auto;
   width: 55% !important;
}

.music_note {
  font-size: 50px;
  text-align: center;
}
