// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#registration_panel, #login_panel {
  margin: 0px auto;
  text-align: center;
}

.input_fields {
  margin: 0px auto; 
  text-align: center;
}
