// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-default {
  width: 70%;
  margin: 0px auto;
  text-align: center;
}

.input_fields {
  width: 60%;
  margin: 0px auto; 
  text-align: center;
}