/* show */
#set_list_title {
  margin-bottom: 30px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  #set_list_title {
    font-size: 27.5px;
  }

  .set_list_songs a {
    font-size: 16px;
  }
}

@media (min-width: 500px) {
  #set_list_title {
    font-size: 45px;
  }

  .set_list_songs a {
    font-size: 22px;
  }
}

.set_list_links a {
  margin: 25px 0px;
}

.set_list_links {
  margin-bottom: 70px;
}
