// Place all the styles related to the SetListSongs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.song_key {
  margin: 0px auto;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
