/* index */
#new_song {
  text-align: center;
}

h1 {
  text-align: center;
}

#song_list {
  text-align: left;
}

#no_songs {
  text-align: center;
}


/* show */
@media (min-width: 500px) {
  .song_title {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .song_title {
    font-size: 28px;
  }
}

.song_title {
  margin-bottom: 30px;
}

.bookmark_button {
  font-size: 35px;
  color: #0275d8;
  display: inline;
}

.new_favorite {
  display: inline;
}

#bookmark_empty {
  display: inline;
}

#song_body, #print_song_body {
  white-space: pre-wrap;
  margin: 10px auto;
  border: 1px gray solid;

  font-size: 22px;

  .chord {
    line-height: 34px;
  }
}

/* _form */
.panel {
  text-align: center;
  table {
    margin: 0px auto;
  }
  #song_key, #key_text {
    float: left;
  }
  td {
    padding: 10px;
  }
}

.explanation {
  border: 1px solid #d3d3d3;
  margin: 0px auto;
  padding: 5px;
  width: 50%;
  text-align: left;
}

.visibility_checkbox {
  margin: 20px;
}

.song_body {
  margin: 10px;
}

#save_button {
  margin: 10px;
}

#song_video_container {
  margin: 0px auto;
  width: 60%;
}

#print_button {
  margin: 25px;
}

/* print */
#print_key {
  text-align: center;
}
