// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* index */
#new_song {
  text-align: center;
}
h1 {
  text-align: center;
}
#song_index {
    margin: 20px auto;
    width: 90%;
    border: 2px solid #D3D3D3;
    font-size: 30px;
    text-align: center;
    th {
      border: 2px solid #D3D3D3;
      text-align: center;
    }
    td {
      border-left: 2px solid #D3D3D3;
      border-right: 2px solid #D3D3D3;
      margin: 7px;
      padding: 7px;
      font-size: 30px;
    }
    .song_title, .song_artist {
      width: 50%;
    }
    .song_artist {
      font-size: 15px;
    }
    .functions {
      border-top: 2px solid #D3D3D3;
      border-bottom: 2px solid #D3D3D3;
      border-left: 0px solid #D3D3D3;
      border-right: 0px solid #D3D3D3;
    }
}

#no_songs {
  text-align: center;
}


/* show */

/* _form */ /* 別のstylesheetとかぶってるやつをapplication.scssに書くこと */
.panel {
  text-align: center;
  table {
    margin: 0px auto;
  }
  #song_key, #key_text {
    float: left;
  }
}

/* new */

/* edit */
