/* index */
#new_song {
  text-align: center;
}

h1 {
  text-align: center;
}

#song_list {
  text-align: left;
}

#no_songs {
  text-align: center;
}


/* show */
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .song_title {
    font-size: 28px;
  }

  .explanation {
      width: 90% !important;
      font-size: 12px;
  }

  .song_body {
    font-size: 13px;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 768px) {
  .song_title {
    font-size: 50px;
  }

  .explanation {
      font-size: 18px;
  }

  .song_body {
    font-size: 22px;
    margin: 10px auto;
  }
}

.show_container {
  padding-bottom: 20px;
}

.song_title {
  margin-bottom: 30px;
}

.bookmark_button {
  font-size: 35px;
  color: #0275d8;
  display: inline;
}

.new_favorite {
  display: inline;
}

#bookmark_empty {
  display: inline;
}

.song_body, #print_song_body {
  white-space: pre-wrap;
  border: 1px gray solid;

  .chord {
    line-height: 34px;
  }
}

/* _form */
@media (min-width: 500px) {
    .song_form_song_body {
        height: 350px;
    }
}

@media (max-width: 768px) {
    .song_form_song_body {
        height: 400px;
    }
}

.song_form_song_body {
    width: 95%;
}

.song_form {
  margin: 0px auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.explanation {
  border: 1px solid #d3d3d3;
  margin: 0px auto;
  padding: 5px;
  width: 50%;
  text-align: left;
}

.visibility_checkbox {
  margin: 20px;
}

#save_button {
  margin: 10px;
}

#song_video_container {
  margin: 0px auto;
  width: 60%;
}

#print_button {
  margin: 25px;
}

/* print */
#print_key {
  text-align: center;
}
