/* index */
#user_image_thumbnail {
  height: 75px;
}

/* show */
body {
  background-color: #f7faff !important;
}

#user_row {
  margin-top: 30px;
}

#new_chart_button {
  margin-bottom: 7px;
}

/* edit */
.image_error_details {
  margin: 0px auto;
  width: 75%;
}
