/* index */

#users_index {
  text-align: left;
}

/* show */
#user_container {
  width: 100%;
  display: block;
}

#left_side {
  width: 25%;
  float: left;
  text-align: left;
}

#right_side {
 width: 75%;
 float: left;
}

/* edit */
.image_error_details {
  margin: 0px auto;
  width: 75%;
}

