<% user = User.find_by(email: @email) %>
<p><%= t('devise.email.welcome_intro', user: user.username) %></p>

<p><%= t('devise.email.welcome_body') %></p>

<p>
  <%= link_to t('devise.registrations.confirm_account'), confirmation_url(@resource, confirmation_token: @token), class: 'btn btn-dark' %>
</p>
