<p><%= @resource.name %>さん、こんにちは。</p>

<p>下記のリンクでパスワードを更新することができます。</p>

<p><%= link_to 'パスワードを更新する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしパスワードを更新するように頼まれていなければ、このメールを無視してください。</p>
<p>上記のリンクの手続きをするまではパスワードは更新されません。</p>
